HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Python virtual environments ###
**/.venv/
**/.venv311/
.DS_Store
.venv/
.venv*/
model.bin
**/model.bin

outputs_work
outputs
\345\274\240\345\260\217\345\256\276/pretrain_models/
\345\274\240\345\260\217\345\256\276/week08/textMatch/venv/
